{{ partial "head" . }}
  <body>
    <div id="wrap">
      {{ partial "header" . }}
      <section id="about">
        <div class="container">
        <div class="avatar">
          <img class="img-circle" src="{{ .Site.BaseURL }}img/{{ .Site.Params.avatar }}" alt="Responsive image">
        </div>
        <h3 class="headline">I'm <strong>{{ .Site.Params.author }}</strong></h3>
        <h4>A polyglot developer and machine learning enthusiast working with multiple technologies who specialized in mobile and backend technologies. I do contribute to Open Source projects regularly.</h4>
        <h4>
          <ul>
            <li>Currently learning PyTorch and working on a open source ML project</li>
            <li>Improve CI / CD platforms as well as creating test harnesses</li>
            <li>Mentor other developers in improving their tech skills to deliver great products</li>
          </ul>
        </h4>
        <h4>Senior Software Engineer at <a href="https://www.mimecast.com/" target="_blank">Mimecast</a></h4>
        <h4>Some of the tools I have created which you can find <a href="{{ .Site.BaseURL }}projects/">here</a></h4>
        {{ partial "social.html" . }}
        </div>
      </section>
    </div>
    {{ partial "footer" . }}
  </body>
</html>
